
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>
<p>
    Developed by: Logan Jones
 </p>
 <br/>
 <p>
    Purpose: Creating and editing my first web application
    </p>
    <br/>
    <p>
    Class: COMP-003B
</p>

