
@{
    ViewData["Title"] = "Hobbies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hobbies</h1>

<p>My Hobbies</p>
<ul>
    <li> Building Gunpla </li>
    <li> Playing Video Games</li>
    <li> Shopping</li>
    <li> Working (It counts)</li>
    <li> Cooking</li>
</ul>

<p>My Interests</p>
<ol>
    <li> Anime</li>
    <li> Dungeon and Dragons</li>
    <li> Jewelry</li>
    <li> Board/ Card Games</li>
    <li> Any Small Weird Fact</li>
</ol>
